@import 'components/base';
@import 'components/variables';
@import 'components/mixins';
@import 'partials/header';
@import 'partials/home';
@import 'partials/login';
@import 'partials/footer';

body{
    margin: auto;
    /**/ background-color: $bg-home; 
    font-family: $font-global;
    color:map-get($color-matriz, c3 );
    @media only screen and (max-width: 500px) {
        @include display2 (column, wrap, center);
    }
}