/* mixins */ /* header */
.container-exchangeRate {
  /* predefinido todo el centro */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  overflow: hidden;
}
.container-exchangeRate .exchangeRate {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: row;
  margin: 2px 20px;
  -webkit-animation: exchangeRate 20s linear 0s infinite both running;
          animation: exchangeRate 20s linear 0s infinite both running;
  overflow: hidden;
}
@-webkit-keyframes exchangeRate {
  0% {
    transform: translateX(2000px);
    transition: 0s;
  }
  100% {
    transform: translateX(-200px);
    transition: 3s;
  }
}
@keyframes exchangeRate {
  0% {
    transform: translateX(2000px);
    transition: 0s;
  }
  100% {
    transform: translateX(-200px);
    transition: 3s;
  }
}
.container-exchangeRate .exchangeRate strong {
  margin-left: 2px;
}
.container-exchangeRate .exchangeRate span {
  margin-left: 5px;
}

/* sections de home */
/* section one */
.container-aquisi {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.container-aquisi .aquisi-text {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.container-aquisi .aquisi-text h3 {
  color: white;
  font-size: 25pt;
  margin-left: 10px;
}
.container-aquisi .aquisi-text p {
  color: white;
  margin-left: 10px;
}
.container-aquisi .aquisi-text .link-app {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.container-aquisi .aquisi-text .link-app a {
  padding: 5px;
  text-align: center;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .container-aquisi .aquisi-text .link-app a img {
    width: 150px;
    height: 50px;
  }
}
.container-aquisi .aquisi-app {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-aquisi .aquisi-app .aquisi-app-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container-aquisi .aquisi-app h3 {
  text-align: center;
}
.container-aquisi .aquisi-app a {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #212121;
  border-radius: 8px;
  letter-spacing: -1px;
  font-size: 14pt;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: #FFF;
}
.container-aquisi .aquisi-app a:hover {
  background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-apy {
  position: relative;
  background-color: #212121;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-apy {
  margin-top: 0;
}

.modal-apy h3 {
  color: white;
  border-bottom: 1px solid #FDC101;
  padding-bottom: 5px;
}

.modal-apy #containerCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #FDC101;
  border: none;
  background-color: transparent;
}

.modal-apy #btnCerrar:hover {
  cursor: pointer;
}

.modal-apy #btnCerrar:focus {
  outline: none;
}

.modal-apy .apy-contenedor {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.modal-apy .apy-contenedor span {
  margin: 2px;
}

/* section 2 */
.container-content-ganancias {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container-content-ganancias .content-ganancias {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-content-ganancias .content-ganancias h3 {
  text-align: center;
  padding-top: 5px;
}
.container-content-ganancias .content-ganancias img {
  background-color: #212121;
  border-radius: 600px;
  width: 250px;
}
.container-content-ganancias .content-ganancias img:hover {
  background-image: linear-gradient(180deg, rgba(237, 177, 25, 0.8980392157) 0%, rgba(193, 141, 9, 0.8352941176) 100%);
  transform: scale(0.91);
}

.container-calculadora {
  background-color: #212121;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.container-calculadora:hover {
  background-image: linear-gradient(180deg, rgba(77, 76, 76, 0.8980392157) 0%, rgba(0, 0, 0, 0.8352941176) 100%);
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
form .formCheck {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}
form .formCheck label {
  padding: 5px;
}
form .formCheck span {
  font-size: 12pt;
}
form .container-btn-cal .btn-padron {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
  border-radius: 8px;
  letter-spacing: -1px;
  font-size: 14pt;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: #FFF;
}
form .container-btn-cal .btn-padron:hover {
  background-image: linear-gradient(180deg, #ceae2f 0%, #e4cd95 100%);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #212121;
}

/* loader */
.loader {
  display: none;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-animation: scale-up4 1s linear infinite;
          animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.bar:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes scale-up4 {
  20% {
    background-color: white;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}

@keyframes scale-up4 {
  20% {
    background-color: white;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}
.container-total {
  display: none;
}

body {
  margin: 0;
  /* */
  background-color: black;
  background-image: url(../multimedia/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 1200px;
  font-family: "Nunito", sans-serif;
  color: white;
}/*# sourceMappingURL=style.css.map */