/* mixins */ /* header */
.container-exchangeRate {
  /* predefinido todo el centro */
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  background-color: black;
  color: white;
  overflow: hidden;
  position: absolute;
}
.container-exchangeRate .exchangeRate {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  margin: 2px 20px;
  position: relative;
  overflow: hidden;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}
@-webkit-keyframes marquee {
  0% {
    left: 100%;
    transition: 20s;
  }
  100% {
    left: -40%;
    transition: 20s;
  }
}
@keyframes marquee {
  0% {
    left: 100%;
    transition: 20s;
  }
  100% {
    left: -40%;
    transition: 20s;
  }
}
.container-exchangeRate .exchangeRate strong {
  margin-left: 2px;
}
.container-exchangeRate .exchangeRate span {
  margin-left: 5px;
}

/* sections de home */
/* section one */
.container-aquisi {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-image: url(../multimedia/bg.png);
  background-repeat: no-repeat;
  background-size: 100% 1200px;
}
.container-aquisi .aquisi-text {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.container-aquisi .aquisi-text h3 {
  color: white;
  font-size: 25pt;
  margin-left: 10px;
}
.container-aquisi .aquisi-text p {
  color: white;
  margin-left: 10px;
}
.container-aquisi .aquisi-text .link-app {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
}
.container-aquisi .aquisi-text .link-app a {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  background-color: black;
  border-radius: 5px;
  margin-left: 5px;
}
.container-aquisi .aquisi-text .link-app a:hover {
  background-image: linear-gradient(180deg, rgba(77, 76, 76, 0.8980392157) 0%, rgba(0, 0, 0, 0.8352941176) 100%);
}
.container-aquisi .aquisi-text .link-app a img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 150px;
}
@media only screen and (max-width: 600px) {
  .container-aquisi .aquisi-text .link-app a img {
    width: 150px;
    height: 50px;
  }
}
.container-aquisi .aquisi-app {
  width: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-aquisi .aquisi-app .aquisi-app-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.container-aquisi .aquisi-app h3 {
  text-align: center;
}
.container-aquisi .aquisi-app a {
  text-decoration: none;
  padding: 3px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: white;
  border-radius: 8px;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  background-color: #212121;
  border-radius: 8px;
  letter-spacing: -1px;
  font-size: 14pt;
  font-weight: 500;
}
.container-aquisi .aquisi-app a::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FDC101;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.container-aquisi .aquisi-app a:hover::before {
  width: 105%;
}
.container-aquisi .aquisi-app a:hover {
  color: #111;
}

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-apy {
  position: relative;
  background-color: #212121;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all 0.5s;
}

.modal-active .modal-apy {
  margin-top: 0;
}

.modal-apy h3 {
  color: white;
  border-bottom: 1px solid #FDC101;
  padding-bottom: 5px;
}

.modal-apy #containerCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #FDC101;
  border: none;
  background-color: transparent;
}

.modal-apy #btnCerrar:hover {
  cursor: pointer;
}

.modal-apy #btnCerrar:focus {
  outline: none;
}

.modal-apy .apy-contenedor {
  padding-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.modal-apy .apy-contenedor span {
  margin: 2px;
}

/* section 2 */
.container-content-ganancias {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container-content-ganancias .content-ganancias {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.container-content-ganancias .content-ganancias h3 {
  text-align: center;
  padding-top: 5px;
}
.container-content-ganancias .content-ganancias img {
  background-color: #212121;
  border-radius: 600px;
  width: 250px;
}
.container-content-ganancias .content-ganancias img:hover {
  background-image: linear-gradient(180deg, rgba(237, 177, 25, 0.8980392157) 0%, rgba(193, 141, 9, 0.8352941176) 100%);
  transform: scale(0.91);
}

.container-calculadora {
  background-color: #212121;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.container-calculadora:hover {
  background-image: linear-gradient(180deg, rgba(77, 76, 76, 0.8980392157) 0%, rgba(0, 0, 0, 0.8352941176) 100%);
  /* background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}

form {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
form .formCheck {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 5px;
}
form .formCheck #token1:checked {
  color: #212121;
}
form .formCheck label {
  padding: 5px;
}
form .formCheck span {
  font-size: 12pt;
}
form .container-btn-cal {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
form .container-btn-cal .btn-padron {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
  border-radius: 8px;
  letter-spacing: -1px;
  font-size: 14pt;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: #FFF;
}
form .container-btn-cal .btn-padron:hover {
  background-image: linear-gradient(180deg, #ceae2f 0%, #e4cd95 100%);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  color: #212121;
}
form .container-btn-cal .btnClear {
  padding-top: 20px;
  text-align: center;
  text-decoration: none;
  background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
  border-radius: 8px;
  letter-spacing: -1px;
  font-size: 14pt;
  font-weight: 500;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: #FFF;
}
form .container-btn-cal .btnClear:hover {
  background-image: linear-gradient(180deg, rgba(77, 76, 76, 0.8980392157) 0%, rgba(0, 0, 0, 0.8352941176) 100%);
}

/* loader */
.loader {
  display: none;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 3px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  -webkit-animation: scale-up4 1s linear infinite;
          animation: scale-up4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 35px;
  margin: 0 5px;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}

.bar:nth-child(3) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes scale-up4 {
  20% {
    background-color: white;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}

@keyframes scale-up4 {
  20% {
    background-color: white;
    transform: scaleY(1.5);
  }
  40% {
    transform: scaleY(1);
  }
}
.container-total {
  display: none;
  padding-top: 10px;
}
.container-total .total-c {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.container-total .total-c .montoTotal {
  text-align: center;
  font-size: 15pt;
}
.container-total .btnCuenta {
  padding-top: 20px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.container-total .btnCuenta a {
  text-decoration: none;
}
.container-total .btnCuenta button {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  background-image: linear-gradient(180deg, rgba(77, 76, 76, 0.8980392157) 0%, rgba(0, 0, 0, 0.8352941176) 100%);
  border-radius: 8px;
  letter-spacing: -1px;
  padding: 5px;
  position: relative;
  text-decoration: none;
  color: #FFF;
}
.container-total .btnCuenta button:hover {
  background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
}
.container-total .btnCuenta .fa-arrow-right-to-bracket,
.container-total .btnCuenta .fa-user-plus {
  font-size: 13pt;
  color: #FDC101;
}
.container-total .btnCuenta .fa-arrow-right-to-bracket:hover,
.container-total .btnCuenta .fa-user-plus:hover {
  color: white;
}

.container-servicios .container-service {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.container-servicios .container-service .title-section {
  padding-top: 20px;
  font-weight: 900;
  text-align: center;
  -webkit-text-decoration: underline #FDC101;
          text-decoration: underline #FDC101;
}
.container-servicios .container-service .service {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.container-servicios .container-service .service .img-laster {
  width: auto;
}
.container-servicios .container-service .service .img-laster:hover {
  -webkit-animation: float 2s ease-in-out 2;
          animation: float 2s ease-in-out 2;
}
.container-servicios .container-service .service .img-laster img {
  -o-object-fit: fill;
     object-fit: fill;
  width: 70%;
  margin: auto;
  display: block;
}
.container-servicios .container-service .service .content-laster h4 {
  text-align: center;
}
.container-servicios .container-service .service .content-laster p {
  font-size: large;
}
.container-servicios .container-service .service .btn-laster {
  text-decoration: none;
  padding: 3px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: white;
  border-radius: 8px;
  background-color: #212121;
}
.container-servicios .container-service .service .btn-laster::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FDC101;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.container-servicios .container-service .service .btn-laster:hover::before {
  width: 105%;
}
.container-servicios .container-service .service .btn-laster:hover {
  color: #111;
}
.container-servicios .container-service .service .btn-laster a {
  padding: 5px;
  text-align: center;
  text-decoration: none;
  letter-spacing: -1px;
  font-size: 14pt;
  font-weight: 500;
  color: white;
}
.container-servicios .container-service .service .btn-laster a:hover {
  color: black;
}

/* nuestra app */
.container-nuestrapp .nuestrapp .title-section {
  padding-top: 20px;
  font-weight: 900;
  text-align: center;
  -webkit-text-decoration: underline #FDC101;
          text-decoration: underline #FDC101;
  margin-top: 5px;
  padding: 20px;
}
.container-nuestrapp .nuestrapp .nuestrapp-info {
  display: flex;
  justify-content: space-evenly;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-left: 10px;
}
.container-nuestrapp .nuestrapp .nuestrapp-info .nuestrapp-content {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
}
.container-nuestrapp .nuestrapp .nuestrapp-info .nuestrapp-content:hover {
  -webkit-animation: float 2s ease-in-out 2;
          animation: float 2s ease-in-out 2;
}
.container-nuestrapp .nuestrapp .nuestrapp-info .nuestrapp-content .container-icon {
  fill: #edb119;
  width: 70px;
}
.container-nuestrapp .nuestrapp .nuestrapp-info .nuestrapp-content .nuestrapp-text {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}
.container-nuestrapp .nuestrapp-img .container-nuestrapp-img img {
  -o-object-fit: fill;
     object-fit: fill;
  display: block;
  width: 50%;
  margin: auto;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
@-webkit-keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

/* LOGIN */
.containerLogin {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: "";
}
.containerLogin .container-login {
  margin: 5px auto;
  box-shadow: 15px 0px 14px 0px rgb(26, 25, 25);
  z-index: 1;
  background-color: #212121;
}
.containerLogin .container-login .container-br {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.containerLogin .container-login .formUser form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.containerLogin .container-login .formUser form h3 {
  border-bottom: 2px solid #FDC101;
}
.containerLogin .container-login .formUser form .info-login {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding: 3px;
}
.containerLogin .container-login .formUser form .btns-login {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.containerLogin .container-login .formUser form .btns-login a {
  text-decoration: none;
  color: #FDC101;
  font-weight: 600;
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.containerLogin .container-login .formUser form .btns-login button {
  text-decoration: none;
  padding: 3px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: white;
  border-radius: 8px;
  border: none;
  background-color: #000;
}
.containerLogin .container-login .formUser form .btns-login button::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FDC101;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.containerLogin .container-login .formUser form .btns-login button:hover::before {
  width: 105%;
}
.containerLogin .container-login .formUser form .btns-login button:hover {
  color: #111;
}
.containerLogin .container-login .formUser .goRegister {
  border-top: #FDC101 2px solid;
  text-align: center;
  margin-top: 10px;
}
.containerLogin .container-login .formUser .goRegister p {
  margin-top: 10px;
}
.containerLogin .container-login .formUser .goRegister p a {
  text-decoration: none;
  color: #FDC101;
  font-weight: 600;
}
.containerLogin .container-login .formUser .goRegister p a:hover {
  background-image: linear-gradient(180deg, rgba(77, 76, 76, 0.8980392157) 0%, rgba(0, 0, 0, 0.8352941176) 100%);
  /* background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); */
}
.containerLogin .container-login #formRegistre {
  display: none;
}
.containerLogin .container-login .btns-signup {
  margin: 10px 3px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.containerLogin .container-login .btns-signup span {
  margin: 5px;
}
.containerLogin .container-login .btns-signup a {
  text-decoration: none;
  color: #FDC101;
  font-weight: 600;
}
.containerLogin .container-login button {
  text-decoration: none;
  padding: 3px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: white;
  border-radius: 8px;
  border: none;
  background-color: #000;
  margin: 2px auto;
}
.containerLogin .container-login button::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FDC101;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.containerLogin .container-login button:hover::before {
  width: 105%;
}
.containerLogin .container-login button:hover {
  color: #111;
}
.containerLogin .container-decor {
  height: auto;
  background-image: url(/multimedia/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.containerLogin .container-decor .decor-img {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.containerLogin .container-decor .decor-img .btc-login {
  width: 400px;
  max-width: 70%;
  z-index: 1;
  margin-right: -70px;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
.containerLogin .container-decor .decor-img .eth-login {
  width: 325px;
  max-width: 50%;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

/* footer */
footer {
  background-color: #212121;
}
footer .container-footer .container-brand-f li {
  margin-top: 5px;
  list-style: none;
  font-style: italic;
}
footer .container-footer .c-Eu li {
  list-style: none;
  display: flex;
}
footer .container-footer .c-Eu li a {
  text-decoration: none;
  padding: 3px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  transition: 0.3s;
  z-index: 1;
  color: white;
  border-radius: 8px;
}
footer .container-footer .c-Eu li a::before {
  content: "";
  width: 0;
  height: 500%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #FDC101;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
footer .container-footer .c-Eu li a:hover::before {
  width: 105%;
}
footer .container-footer .c-Eu li a:hover {
  color: #111;
}
footer .container-footer .c-Ct .container-contact {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
footer .container-footer .c-Ct .container-contact .contact-mail span {
  margin-left: 2px;
}
footer .container-footer .c-Ct .container-contact .contact-phone {
  margin-top: 25px;
}
footer .container-footer .c-Ct .container-contact .contact-phone span {
  margin-left: 2px;
}
footer .container-footer .c-Rs .container-redes-o a {
  margin: 2px;
  text-decoration: none;
  align-items: center;
}
footer .container-footer .c-Rs .container-redes-cc {
  margin-top: 25px;
}
footer .container-footer .c-Rs .container-redes-cc a {
  margin: 2px;
  text-decoration: none;
  align-items: center;
}
footer .container-footer .derechos-a {
  text-align: center;
}

body {
  margin: auto;
  /**/
  background-color: black;
  font-family: "Nunito", sans-serif;
  color: white;
}/*# sourceMappingURL=style.css.map */