$bg-home:black;
$font-global:'Nunito', sans-serif;
$t-align: center;

$btn-bg:linear-gradient(180deg, #edb119 0%, #c18d09 100%);
$b-global: 1px solid #FDC101;


$fonts-size:(
    f1:10pt ,
    f2:12pt ,
    f3:14pt ,
    f4:20pt,
    f5:25pt,
);

$color-matriz:(
    c1: #FDC101,
    c2: black,
    c3: white,
    c4:#212121,
);

$pads:(
    p1:2px,
    p2:3px,
    p3:4px,
    p4:5px,
    p5:10px,
    p6:5rem ,
    p7:10rem,
);
