/* footer */
footer {
    background-color: #212121;

    .container-footer {
        .container-brand-f {
            li {
                margin-top: 5px;
                list-style: none;
                font-style: italic;
            }
        }

        .c-Eu {

            li {
                list-style: none;
                display: flex;

                a {
                @include btn-a-padron;
            }
        }
    }

    .c-Ct {
        .container-contact {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

            .contact-mail {
                span {
                    margin-left: 2px;
                }
            }

            .contact-phone {
                margin-top: 25px;

                span {
                    margin-left: 2px;
                }
            }
        }
    }

    .c-Rs {
        .container-redes-o {
            a {
                @include cc-rss;

            }

        }

        .container-redes-cc {
            margin-top: 25px;

            a {
                @include cc-rss;
            }
        }
    }

    .derechos-a {
        text-align: center;
    }
}}