/* header */

.container-exchangeRate {
   @include display-padron;
   background-color: black;
   color: white;
   overflow: hidden;
   position: absolute;


   .exchangeRate {
      @include display1 (flex, center, center);
      @include display2 (row, nowrap, center);
      margin: 2px 20px;
      position: relative;

      overflow: hidden;

      animation: marquee 15s linear infinite;

      @keyframes marquee {
         0% {
            left: 100%;
            transition: 20s;
         }

         100% {
            left: -40%;
            transition: 20s;
         }
      }
      strong {
         margin-left: 2px;
      }

      span {
         margin-left: 5px;
      }
   }
}