/* sections de home */

/* section one */
.bg-aquisi {
	background-image: url(../media/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 1200px;
	padding-bottom: 10px;

	.container-aquisi {
		@include display1 (flex, space-evenly, center);
		@include display2 (row, nowrap, center);

		@media only screen and (max-width: 500px) {
			@include display2 (column, wrap, center);
			margin: auto;
		}

		.aquisi-text {
			@include display1 (flex, space-evenly, center);
			@include display2 (column, wrap, center);

			@media only screen and (max-width: 500px) {
				@include display2 (column, wrap, center);
				margin: auto;
			}

			h3 {
				color: map-get($color-matriz, c3);
				font-size: map-get($fonts-size, f5);
				margin-left: 10px;

				@media only screen and (max-width: 500px) {
					margin-left: 0;
					font-size: map-get($fonts-size, f4);
					text-align: center;
				}

			}

			p {
				color: map-get($color-matriz, c3);
				margin-left: 10px;

				@media only screen and (max-width: 500px) {
					margin: 0;
					text-align: center;
				}
			}

			.link-app {
				@include display1 (flex, center, center);
				@include display2 (row, nowrap, center);
				width: 100%;

				@media only screen and (max-width: 500px) {
					@include display2 (row, nowrap, center);
					width: 50%;
				}


				a {
					padding: map-get($pads , p5);
					text-align: $t-align;
					text-decoration: none;
					background-color: black;
					border-radius: 5px;
					margin-left: 5px;

					&:hover {
						background-image: linear-gradient(180deg, #4d4c4ce5 0%, #000000d5 100%);
					}

					img {
						object-fit: contain;
						width: 150px;


						@media only screen and (max-width: 600px) {
							width: 90px;
							height: 50px;
						}
					}
				}
			}
		}

		.aquisi-app {
			width: 50%;
			@include display1 (flex, center, center);
			@include display2 (column, nowrap, center);

			@media only screen and (max-width: 500px) {
				width: auto;
			}

			.aquisi-app-img {
				object-fit: cover;

				@media only screen and (max-width: 500px) {
					width: auto;
				}

				img {
					@media only screen and (max-width: 500px) {
						width: 300px;
					}
				}
			}

			h3 {
				text-align: center;

				@media only screen and (max-width: 500px) {
					width: auto;
					text-align: center;
				}
			}

			a {
				@include btn-a-padron;
				padding: map-get($pads , p4);
				text-align: $t-align;
				text-decoration: none;
				background-color: map-get($color-matriz, c4);
				border-radius: 8px;
				letter-spacing: -1px;
				font-size: map-get($fonts-size , f3);
				font-weight: 500;
			}
		}
	}
}

.modal-contenedor {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.3);
	transition: all .5s;
	opacity: 0;
	visibility: hidden;
	@include display1 (flex, center, center);
	align-items: center;

	@media only screen and (max-width: 500px) {
		text-align: center;
		@include display1 (flex, center, center);
	}
}

.modal-active {
	opacity: 1;
	visibility: visible;

}

.modal-apy {
	position: relative;
	background-color: #212121;
	min-width: 500px;
	padding: 20px;
	margin-top: -100%;
	transition: all .5s;

	@media only screen and (max-width: 500px) {
		width: auto;
		min-width: 350px;
		text-align: center;
		@include display1 (flex, center, center);
		@include display2 (column, wrap, flex-start);
	}

}

.modal-active .modal-apy {
	margin-top: 0;

}

.modal-apy h3 {
	color: white;
	border-bottom: $b-global;
	padding-bottom: 5px;
}

.modal-apy #containerCerrar {
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 20px;
	color: map-get($color-matriz, c1);
	;
	border: none;
	background-color: transparent;
}

.modal-apy #btnCerrar:hover {
	cursor: pointer;
}

.modal-apy #btnCerrar:focus {
	outline: none;
}

.modal-apy .apy-contenedor {
	padding-top: 10px;
	@include display1 (flex, flex-start, center);
	@include display2 (row, wrap, center);


	span {
		margin: 2px;
	}
}

/* section 2 */

.container-content-ganancias {
	@include display1 (flex, space-evenly, center);
	@include display2 (row, wrap, center);


	.content-ganancias {
		@include display1 (flex, center, center);
		@include display2 (column, nowrap, center);


		h3 {
			text-align: center;
			padding-top: 5px;
		}

		img {
			background-color: #212121;
			border-radius: 600px;
			width: 250px;

			&:hover {
				background-image: linear-gradient(180deg, #edb119e5 0%, #c18d09d5 100%);
				transform: scale(0.91);
			}

			@media only screen and (max-width: 500px) {
				width: 50%;
			}
		}
	}
}

.container-calculadora {
	background-color: #212121;
	padding: 10px;
	border-radius: 20px;
	@include display1 (flex, center, center);
	@include display2 (column, wrap, center);

	&:hover {
		@include hover-btns;
	}

	@media only screen and (max-width: 500px) {
		width: 80%;
	}
}

.form-coti {
	@include display1 (flex, center, center);
	@include display2 (column, wrap, center);

	.btn-form {
		@include display1 (flex, center, center);
		@include display2 (column, wrap, center);
		padding: 5px;
		margin: 2px;

		#fiatSelect {
			@include btn-select;

			option {
				@include btn-opt;
			}
		}

		#coinSelect {
			@include btn-select;

			option {
				@include btn-opt;
			}
		}

		.btn-padron {
			padding: map-get($pads , p4);
			text-align: $t-align;
			text-decoration: none;
			background-image: linear-gradient(180deg, #edb119 0%, #c18d09 100%);
			border-radius: 8px;
			letter-spacing: -1px;
			font-size: map-get($fonts-size , f3);
			font-weight: 500;
			padding: 5px;

			position: relative;
			text-decoration: none;
			color: #FFF;

			&:hover {
				background-image: linear-gradient(180deg, #ceae2f 0%, #e4cd95 100%);
				transform: translateY(-3px);


				box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
				color: map-get($color-matriz, c4);
			}
		}
	}

	.container-result {
		@include display1 (flex, center, center);
		@include display2 (column, wrap, center);

		.resultado-api {
			@include display1 (flex, center, center);
			@include display2 (column, nowrap, center);

			span,
			strong {
				font-size: 15pt;
				animation: result 6s ease 0s 3 normal forwards;

				@keyframes result {
					0% {
						animation-timing-function: ease-out;
						transform: scale(1);
						transform-origin: center center;
					}

					10% {
						animation-timing-function: ease-in;
						transform: scale(0.91);
					}

					17% {
						animation-timing-function: ease-out;
						transform: scale(0.98);
					}

					33% {
						animation-timing-function: ease-in;
						transform: scale(0.87);
					}

					45% {
						animation-timing-function: ease-out;
						transform: scale(1);
					}
				}
			}

			.botones-result {
				@include display1 (flex, center, center);
				@include display2 (column-reverse, nowrap, center);

				.btn-back {
					@include btn-result;
					margin: 5px;
				}

				.btn-compra {
					@include btn-result;

					margin: 5px;
				}
			}
		}
	}
}

/* section servicios  */
.container-servicios {
	.container-service {
		@include display1 (flex, center, center);
		@include display2 (row, wrap, center);

		@media only screen and (max-width: 500px) {
			text-align: center;
			@include display2 (column, wrap, center);
		}

		.title-section {
			@include Titles;
		}

		.service {
			@include display1 (flex, center, center);
			@include display2 (column, wrap, center);

			@media only screen and (max-width: 500px) {
				width: 50%;
			}


			.img-laster {
				width: auto;

				&:hover {
					animation: float 2s ease-in-out 2;
				}

				img {
					object-fit: fill;
					width: 70%;
					margin: auto;
					display: block;

				}
			}

			.content-laster {
				h4 {
					text-align: center;
				}

				p {
					font-size: large;

					@media only screen and (max-width: 500px) {
						font-size: 12pt;
					}
				}
			}

			.btn-laster {
				@include btn-a-padron;
				background-color: #212121;



				a {
					padding: map-get($pads , p4);
					text-align: $t-align;
					text-decoration: none;
					letter-spacing: -1px;
					font-size: map-get($fonts-size , f3);
					font-weight: 500;
					color: white;

					&:hover {
						color: black
					}

					@media only screen and (max-width: 500px) {
						font-size: 12pt;
					}
				}
			}
		}
	}
}

/* nuestra app */
.container-nuestrapp {
	.nuestrapp {
		@media only screen and (max-width: 500px) {
			@include display1 (flex, space-evenly, flex-start);
			@include display2 (column, wrap, center);
		}

		.title-section {
			@include Titles;
			margin-top: 5px;
			padding: 20px;
		}

		.nuestrapp-info {
			@include display1 (flex, space-evenly, flex-start);
			@include display2 (column, wrap, flex-start);
			padding-left: 10px;

			@media only screen and (max-width: 500px) {
				width: auto;
			}

			.nuestrapp-content {
				width: 100%;
				@include display1 (flex, space-evenly, flex-start);
				@include display2 (column, wrap, flex-start);

				@media only screen and (max-width: 500px) {
					@include display1 (flex, space-evenly, center);
					@include display2 (row, wrap, center);
					padding: 10px;

				}

				&:hover {
					animation: float 2s ease-in-out 2;
				}

				.container-icon {
					fill: #edb119;
					width: 70px;

					@media only screen and (max-width: 500px) {
						width: 40px;
					}
				}

				.nuestrapp-text {
					@include display1 (flex, center, flex-start);
					@include display2 (column, wrap, flex-start);

					@media only screen and (max-width: 500px) {
						width: 50%;
					}
				}
			}
		}
	}

	.nuestrapp-img {
		@media only screen and (max-width: 500px) {
			width: 100%;
			padding: 10px;
		}

		.container-nuestrapp-img {
			img {
				object-fit: fill;
				display: block;
				width: 50%;
				margin: auto;
				box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
				transform: translatey(0px);
				animation: float 6s ease-in-out infinite;

				@keyframes float {
					0% {
						box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
						transform: translatey(0px);
					}

					50% {
						box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
						transform: translatey(-15px);
					}

					100% {
						box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
						transform: translatey(0px);
					}
				}

				@media only screen and (max-width: 500px) {
					width: 70%;
					animation: none;
				}
			}
		}
	}
}